openapi: 3.0.3
info:
  title: Apurata aCuotaz POS REST config API
  version: '1.0'
  x-apievangelist-generated: '2026-07-18'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.apurata.com/POS/rest_api/
  description: Merchant-facing REST API for the aCuotaz "buy now, pay later" installment financing product operated by Apurata (Tecno Creditos S.A.C., Peru). Lets an e-commerce merchant fetch financing limits, create and manage installment orders, confirm/cancel orders, issue total or partial refunds, and render the aCuotaz checkout widgets. Transcribed faithfully from the public documentation at docs.apurata.com; not published by Apurata as an OpenAPI file.
  contact:
    name: Apurata aCuotaz Integrations
    url: https://docs.apurata.com/POS/intro/
  license:
    name: Proprietary
servers:
- url: https://apurata.com
  description: Production (test and live behavior are selected by the client_id / secret token issued)
tags:
- name: config
  description: Financing configuration and limits
paths:
  /pos/client/landing_config:
    get:
      tags:
      - config
      operationId: getLandingConfig
      summary: Get funding limits
      description: Retrieve the minimum/maximum financeable amounts and installment step counts configured for the authenticated client.
      responses:
        '200':
          description: Funding limits
          content:
            application/json:
              schema:
                type: object
                properties:
                  landing_version:
                    type: string
                  min_amount:
                    type: number
                    format: float
                  max_amount:
                    type: number
                    format: float
                  min_steps:
                    type: integer
                  max_steps:
                    type: integer
        '401':
          description: Wrong or missing client token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Secret token issued by Apurata, sent as Authorization: Bearer <secret_token>. HTTPS is mandatory.'
